.header-container {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
  animation: slideDown 3s ease-out;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.header-title:hover {
  text-shadow: 0 0 20px #CCD0CF, 0 0 30px #CCD0CF;
  color: #CCD0CF;
  transform: scale(1.1);
}

.header-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 10px white;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

.header-links a:hover {
  color: #CCD0CF;
  text-shadow: 0 0 10px #CCD0CF, 0 0 20px #CCD0CF;
  transform: scale(1.1);
}

.header-divider {
  width: 100%;
  height: 1px;
  background-color: #4d4d4d;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes slideDown {
  from {
    top: -80px;
  }
  to {
    top: 0;
  }
}

.main-content {
  margin-top: 80px;
}

