html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #000;
  padding: 10px 20px;
}

.project-container {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 50px;
}

.project-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  animation-duration: 1s;
  color: inherit;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
  transition: transform 0.3s ease;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.project-description {
  flex: 1;
  text-align: center;
  padding-right: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: inherit;
}

.project-description p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: inherit;
}

.go-to-project-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-to-project-btn:hover {
  background-color: #048fbb;
}

.go-to-project-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-to-project-btn:hover {
  background-color: #048fbb;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0 0 2px greenyellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button.torch-on {
  color: #212121;
  background-color: transparent;
}

.animated-button.torch-off {
  color: #fff;
  background-color: transparent;
}




.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #fff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 100px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

a {
  text-decoration: none;
}
