body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background: rgb(52, 52, 52);

  color: white;
}

.light-theme {
  background: rgb(200, 200, 200);

  color: black;
}

.header-container.light {
  background-color: white;
  color: #212121;
}

.header-container.dark {
  background-color: rgb(10, 0, 27);
  color: white;
}
