body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom,
      #0A0E15,
      #212631,
      #373F4E,
      #4E566A,
      #667085
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
