body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background: rgb(52, 52, 52);

  color: white;
}

.light-theme {
  background: rgb(150, 147, 147);

  color: black;
}